
body {
    background-color: #89CFF0; /* Babyblau als Hintergrundfarbe */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}

h1 {
    color: #000080; /* Dunkelblau für den Titel */
    text-align: center;
    padding: 20px;
    background-color: #FFFFFF;
    border-bottom: 2px solid #000080;
    margin: 0;
}

select {
    display: block;
    margin: 20px auto;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #000080;
    border-radius: 5px;
}

#exercise-list {
    width: 90%;
    max-width: 800px;
    margin: 20px auto;
    padding: 10px;
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.exercise-item {
    margin: 20px 0;
    padding: 15px;
    background-color: #E0F7FA;
    border: 1px solid #B0E0E6;
    border-radius: 10px;
    text-align: center;
}

.exercise-item h3 {
    margin: 0;
    color: #000080;
}

.exercise-item img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-top: 10px;
}

.exercise-item a {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    color: #FFFFFF;
    background-color: #000080;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.exercise-item a:hover {
    background-color: #003366;
}